.password-set-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .password-set-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .password-input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #21a1f1;
  }
  