.password-set-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.password-set-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.password-input-container {
    position: relative;
    width: 100%;
    margin-left: 10px;
}

.password-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-left: 50px;
    width: 50vw;
}

.submit-button {
    padding: 10px 20px;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #21a1f1;
}

.eye-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}
